
OTO-RPG/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
OTO-RPG/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
OTO-RPG/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
OTO-RPG/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
*.resS
OTO-RPG/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
OTO-RPG/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
